<html>

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <div class='container'>
        <div class="padtop50 jumbotron">
            <form action='/surveyoutput' method='POST'>
                <input type='text' name='name' />
                <input type='text' name='age' />
                <button type='submit'>Submit</button>
            </form>

        </div>
    </div>

    <footer class = "footer">
        <% include ../partials/footer %>
    </footer>

</body>

</html>