<html>
    <head>
        <% include head %>
    </head>

    <body class = "container">
        <% include header %>
        <div class = "padtop50 jumbotron">
        <% if (user.firstName) { %>
            <h3>Thank you 
            <%= user.firstName %>!
            Your information has been added into the database.</h3>
                
            <% } %>
        </div>

        <footer>
            <% include footer %>
        </footer>
    </body>



</html>