<html>

<head>
        <% include partials/head %>
</head>

<body class="container">

        <header>
                <% include partials/header %>
        </header>


        <div class="padtop50 jumbotron">
                <% if (user.firstName) { %>


                <h3>User found:
                        <%= user.firstName %></h3>

                <% } %>

        </div>

        <footer>
                <% include partials/footer %>
        </footer>
</body>

</html>