<html>

<head>
    <% include ../partials/head %>
</head>

<body class='container'>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="padtop50 jumbotron">
        <form action='/createuseroutput' method='POST'>
            <input type='text' name='first_name' />
            <button type='submit'>Submit Name</button>
        </form>

    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>