<html>

<head>
    <% include ../partials/head %>
</head>

<body class='container'>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="padtop50 jumbotron">
        <form action='/usersearchresults' method='POST'>
            <input type='text' placeholder = "First Name" name='first_name' />
            <input type='text' placeholder = "Last Name" name='last_name' />
            <button type='submit'>Search</button>
        </form>
    </div>

    <footer class = "footer">
        <% include ../partials/footer %>
    </footer>
</body>

</html>